/**
 * Base
 */
body
  font: 13.34px/1.6 '\u9ED1\u4F53', tahoma, helvetica, arial, sans-serif
  background-color: #F3F2EE
  /*
  background-image: -webkit-linear-gradient(top, #F3F2EE, #EBE9E0)
  background-repeat: no-repeat
  */
a
  color: #a0a
  text-decoration: none

.title
  color: #a00
