@import 'reset.styl'

@import 'base.styl'

/**
 * layout
 **/
.layout
  width: 660px
  margin: 0 auto

.site-title 
  margin-bottom: 2em
  font-weight: bold
  margin: 30px 0 40px

  a
    color: #a00
    font-size: 200%
    text-decoration: none
    letter-spacing: -2px

    &:hover
      color: #740000

.title
  color: #a00

.list > .title
  font-variant: small-caps
  font-size: 150%;
  font-weight: normal
  margin-bottom: 10px

.list
  .item
    line-height: 1.8
    .title
      font-family: '\u9ED1\u4F53'

  .delimiter
    margin: 0 4px
    color: #AF0404

  .item > .time
    font-family: fantasy, arial
    color: #963E96
    font-size: small

.post-list
  .item
    font-size: 110%

.detail.page
  .title
    font-size: 150%
