ul
  list-style: none

body
  font-size: 0.9em
  line-height: 1.6em
  
.layout
  width: 50em
  margin: 0 auto

section
  margin-bottom: 2em

  .title
    font-size: 1.4em
    margin-bottom: .5em
    padding-bottom: .2em
    border-bottom: 2px solid #E9E9E9
    
// 个人资料   
.personal-info
  .label
    display: inline-block
    width: 80px
  .delimiter
    margin-right: 6px
    color: #708090
    font-size: 10px
    -webkit-transform: scale(0.5)
  em
    font-style: normal

// 工作经验
.experience
  .bd
    li
      margin-bottom: 10px
  .time
    font-size: 14px