p
  | html, css, javascript 中，个人比较熟悉、花大量精力学习的是 javascript。目前水平是能够读懂开源库的源码，可以独立写 javascript, jQuery 组件。对 node 的第三方模块 (express, connect, jade, stylus) 略有了解。
p 
  | 部分技能，包括 php, ruby，也都使用过开发小型的网站；使用 ruby 写脚本，完成自动化的工作。
p
  | 使用 MacOS, *Unix 系统，有各种优秀的开发工具，一般用 MacVim, TextMate 写代码，配合 Grunt 开发。
dl
  dt 未来致力学习的技术：
  dd ES 原理方面的，从语言设计的层面去理解原理性的东西
  dd javascript 框架的实现，包括(backbone, angular, requirejs 等)
  dd node 在 workflow 方面的应用，包括 (grunt, gulp, jade, stylus 等)
