mixin item(options)
  li
    span.label #{options.name}
    span.delimiter :
    em !{options.value}
      
ul
  +item({
    name:"姓名", 
    value:"魏兴飞"
  })

  +item({
    name:"性别",
    value:"男"
  })

  +item({
    name: '学历',
    value: '专科'
  })

  +item({
    name:"所在地",
    value:"浙江杭州"
  })

  +item({
    name:"出生日期", 
    value:"1988-10-16"
  })

  +item({ 
    name:"邮箱", 
    value:"clovery.org@gmail.com"
  })

  +item({
    name: '博客',
    value: "<a href='http://clovery.org' target='_blank'>http://clovery.org/</a>"
  })
  
  +item({
    name: 'Github',
    value: "<a href='https://github.com/clovery/' target='_blank'>https://github.com/clovery/</a>"
  })
