mixin item(options)
  li
    .time #{options.start} - #{options.end}
    .company #{options.company}
    .intro !{options.intro}

ul
  +item({
    start: '2011-06-01',
    end: '至今',
    company: '浙江顺网科技股份有限公司',
    intro: '<p>前端工作，负责公司日常项目的开发。</p>' +
           '<p>曾负责公司 OA 前端页面及组件的开发，以及公司任务管理系统的开发。再者是参与公司各个产品线上的网站应用开发。任职期间获得了同事的一致认可。</p>' +
           '<p>在工作中提高了对前端技能的认知和理解程度，专长于 JavaScript 方面。专注于 html5, es.next, node。node 方面侧重于在 workflow 及 server 端的应用。</p>'
  })
  +item({
    start: '2011-03-01',
    end: '2011-05-04',
    company: '浙江缔顺科技有限公司',
    intro: '<p>后端开发，参与<a href="http://www.uwowo.com/" target="_blank">悠窝窝</a>网站的开发，因公司发展以及个人规划原因，不到三个月离职。</p>' +
           '<p>主要使用技术包括 PHP, JavaScript。'
  })
  +item({
    start: '2010-03-02',
    end: '2011-03-24',
    company: '浙江网盛生意宝股份有限公司',
    intro: '<p>后端开发，期间从事后台工作，维护化工网后台的正常运作，以及<a href="http://cn.toocle.com/" target="_blank">生意宝</a>网站的开发。' +
           '<p>主要使用技术包括 Perl, Python, PHP。</p>' +
           '<p>任职期间熟悉了 linux 系统下的操作，用 PHP 语言开发了公司的订餐系统，用于内部使用。</p>'
  })
