p 
  | 职位：
  em 前端开发工程师
p
  | 目前为止，职业生涯做过前后端的工作，对前端深入了解后，喜欢上了这个职业， node 出现之后，更可以用喜欢的语言来解决日常中的重复性的工作。
  | 走了一些路，才发现想要什么，并且愿意付出去达到想要的高度。
  | 对 javascript 的掌握程度大致符合预期效果，通过使用、研究各个库，扎实了对 javascript 的理解，计划向更深层次去学习，包括 es 标准和 node 的应用。
p
  | 经过几年的工作经历，发现喜欢的是做产品，一个产品从无到有，从最初的雏形到逐渐优化，能够被别人接受和使用，我想可能是做产品最大的梦想、最幸福的事情了！
p
  | 产品和同事，我最在乎的两个因素。产品让我能找到工作的价值，特别是看到参与的系统能够得到别人的认可；
  | 优秀的同事能让我看到自身的不足，并为之努力，交流有价值才是交流的真正意义，我想我可以胜任成为其中一员。