/**
 * Base
 */
@font-face
  font-family: 'Belleza'
  font-style: normal
  font-weight: 400
  src: url(font/kccRZmnnm8BZQBlMJUI5mwLUuEpTyoUstqEm5AMlJo4.woff) format('woff')

body
  font: 13px/1.6 'Belleza', '\u9ED1\u4F53', tahoma, helvetica, arial, sans-serif
  padding 0.7em
  color: black
  background-color: #F3F2EE
  text-shadow 1px 0 0 #fff
  line-height 1.4em

a
  color: #a0a
  text-decoration: none

.title
  color: #a00

.layout
  width: 680px
  margin: 0 auto

footer
  padding 40px 0 30px

section
  .sec
    margin-top 20px

header
  & + section
    &.layout
      margin-top 20px

.site-title
  font-weight bold
  padding: 20px 0 10px
  border-bottom 1px dotted #d0d0d0
  a
    color #a00
    font-size: 170%
    text-decoration none
    letter-spacing: -2px
    font-family: '\u9ED1\u4F53'
    &:hover
      color #740000

.list
  & > .title
    font-variant small-caps
    font-size 150%
    font-weight normal
    margin-bottom 10px
  .item
    line-height: 2
    font-size: 114%
    & > .time
      font-family: 'Belleza', '\u9ED1\u4F53', tahoma , arial
      color #970000
      font-size: 90%

  .delimiter
    margin 0 4px
    color #af0404

article
  header > .title
    font-size: 130%

input[type=text],
input[type=password],
input[type=image],
textarea
  font 99% helvetica, arial, freesans, sans-serif

select,
option
  padding 0 0.25em

optgroup
  margin-top 0.5em

pre,
code
  font-family consolas, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace

pre
  margin 1em 0
  font-size 14px
  background-color #eee
  border 1px solid #ddd
  padding 5px 5px 5px 10px
  line-height 1.4em
  color #444
  overflow auto
  -webkit-box-shadow rgba(0,0,0,0.07) 0 1px 2px inset
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  code
    padding 0
    font-size 12px
    background-color #eee
    border none

code
  font-size 12px
  background-color #f8f8ff
  color #444
  padding 0 0.2em
  border 1px solid #dedede

img
  border 0
  max-width 100%

abbr
  border-bottom none

a code,
a:link code,
a:visited code
  color #4183c4

h1,
h2,
h3,
h4,
h5,
h6
  border 0

h1
  font-size 170%
  border-top 4px solid #aaa
  padding-top 0.5em
  margin-top 1.5em
  margin-bottom 1.5em
  &:first-child
    margin-top 0
    padding-top 0.25em
    border-top: none


.entry
  h2
    margin-top 40px
    font-size: 110%
    border-bottom 2px solid #e0e0e0
    padding-bottom 0.5em

    &:nth-child(1)
      margin-top 10px
  h2 + h3
    margin-top: 0.5em
  h3
    margin-top: 1em
  p
    margin 1em 0
    line-height 1.5em
    text-align: justify

blockquote
  margin 1em 0
  border-left 5px solid #ddd
  padding-left 0.6em
  color #555
