@media screen and (device-width: 320px)
  header
    padding-top: 10px
    a
      display: block
      padding-bottom: 10px

  .layout
    width: auto
    padding: 0 0.5em

//@media only screen and (max-device-width: 320px) and (orientation:portrait)

@media screen and (device-width: 320px) and (orientation:landscape)
  body
    font-size: 40%
