include mixins/section

doctype html
html
  head
    meta(charset='utf-8')
    title 魏兴飞的简历
    meta(name='robots', content='noindex, nofollow')
    link(rel='stylesheet', href='/public/styles/public.css')
    link(rel='stylesheet', href='/public/styles/resume.css')
  body
    .layout
      +section('个人资料', 'personal-info')
        include includes/basic

      +section('求职意向', 'position')
        include includes/position

      +section('专业技能', 'ability')
        include includes/ability

      +section('工作经历', 'experience')
        include includes/experience
