<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{{site.title}}{% if page.title %} &raquo; {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/public/styles/public.css">
</head>
<body class="{{ page.name }}">
  <header>
    <div class="layout site-title">
      <a href="/">{{ site.title }}</a>
    </div>
  </header>
  <section class="layout">
    {{ content }}
  </section>
  <footer>
    <div style="display:none;">
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-15744867-1");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_2070630'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D2070630%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
  </footer>
</body>
</html>
